
    	<h2>Forgot your password?</h2>

<form class="new_user" id="new_user" action="/users/password" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="Q9anHAoPY3qf/O7q2AeYYei9n2w/8ts143uLUgSGxealg33haEDa0lsWOj469RDyqybJDaldJtTHom4dsrUWFg==" />
  

  <div class="field">
    <label for="user_email">Email</label><br />
    <input autofocus="autofocus" type="email" value="" name="user[email]" id="user_email" />
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Send me reset password instructions" data-disable-with="Send me reset password instructions" />
  </div>
</form>
  <a href="/users/sign_in">Log in</a><br />

  <a href="/users/sign_up">Sign up</a><br />