// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 	
  .btn-primary {
    float:right;
    clear:top;
    clear:bottom;
    color: #FFFFFF;
    background-color:#5FCF80;
    margin-right: 50px;
    margin-top:10px;
    margin-bottom:10px;
    font-size:150%;
    border-radius: 10px;
    font-family:"helvetica";
    

  }



  span {
  clear:both;
  }
 

  .left-text p{
    background-color: #E3EAE5;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:50px;
    float:left;
    width:auto;
    height:auto;
    font-size:150%;
    padding: 5px 15px 5px 15px;
    clear:both;
    border-radius: 10px;
    font-family:"helvetica";
  }

  .landing-page{
  	text-align:center;
  	height :600px;
  }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: #5FCF80;
    background-color: #FFFFFF;
    border:1px solid #5FCF80;
}

.deviseform {
  text-align: center;
  width:300px;
  margin-left: 450px;
  margin-top:70px;
}

#flash_alert {
  color:red;
}

#flash_notice {
  color:red;
}

#footer {
  width : 100%;
  height :100px;
  background-color:black;
  position: absolute;
}
 
