// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 	
  .btn-primary {
    float:right;
    clear:top;
    clear:bottom;
    color: #FFFFFF;
    background-color:#5FCF80;
    margin-right: 50px;
    margin-top:10px;
    margin-bottom:10px;
    font-size:150%;
    border-radius: 10px;
    font-family:"roboto";
    border:1px solid #5FCF80;
  }
  
  .starting_text-index{margin-top:150px;}

  .navbar {
  background-color:white;
  clear:both;
  border:0;
  height:80px;
  }



  span {
  clear:both;
  }
 

  .left-text p{
    background-color: #E3EAE5;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:50px;
    float:left;
    width:auto;
    height:auto;
    font-size:150%;
    padding: 5px 15px 5px 15px;
    clear:both;
    border-radius: 10px;
    font-family:"roboto";
  }

  .landing-page{
  	text-align:center;
  	height :600px;
  }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: #5FCF80;
    background-color: #FFFFFF;
    border:1px solid #5FCF80;
    
}

.deviseform {
  text-align: center;
  width:300px;
  margin-left: 450px;
  margin-top:70px;
}

#flash_alert {
  color:red;
}

#flash_notice {
  color:red;
}

#footer {
  width : 100%;
  height :100px;
  background-color:black;
  position: absolute;
}
 
#main-menu2,
#inside-our-earth,
#master-blaster-sachin,
#cool-calm-dhoni,
#stylish-kohli,
#mantle,
#core,
#crust,
#two-grand-slams,
#four-grand-slams,
#i-dont-know,
#metamorphic-rocks,
#minerals,
#schumacher,
#hamilton,
#our-changing-earth,
#volcanos,
#closer-look-at-volcanos,
#work-of-river,
#work-of-sea-waves,
#work-of-ice,
#work-of-wind-in-desert,
#air,
#messi,
#ronaldo,
#show-me-an-example,
#what-is-atmosphere,
#air-we-breathe,
#harmful-sun-rays,
#inhaled-by-human-beings,
#is-a-greenhouse-gas,
#prevents-from-uv-radiation,
#layers-of-earth,
#stratosphere,
#troposphere,
#effects-of-temparature-on-athletics,
#effects-of-temparature-on-american-football,
#swing-bowling-in-cricket,
#curl-of-football,
#water,
#show-answer,
#ocean-circulation,
#ocean-currents,  
#natural-vegetation-and-wildlife,
#types-of-natural-vegetation,
#more-bounce-in-cold-weather,
#more-bounce-in-hot-weather,
#slope-and-thickness-of-soil,
#more-on-biking,
#life-in-deserts,
#hot-desert,
#more-sports-in-hot-desert,
#cold-desert,
#main-menu10,
#amazing-chapter1    
#not-that-interesting1,
#amazing-chapter2    
#not-that-interesting2,
#amazing-chapter3    
#not-that-interesting3,
#amazing-chapter4    
#not-that-interesting4,
#amazing-chapter5    
#not-that-interesting5,
#amazing-chapter6,  
#not-that-interesting6,
.starting_text-index
{display:block;overflow:auto;background: url('1.jpg');background-repeat: no-repeat;background-attachment: scroll;}
