.header {
	background-image: url('http://www.coolavenues.com/sites/default/files/imagecache/company_727_299_image/edusports_big_image.jpg');
	text-align : center;
    background-size: 850px 550px;
    background-repeat:   no-repeat;
    background-position: center;
	height: auto 650px;
	width: 100%;
  clear:both;
  text-align:center;
  margin-bottom:1px;


}

.row{
	text-align:center;
	padding-top:30px;

}

.btn-head{
	background-color: #ffffff;
    margin-left:30px;
    margin-top:30px;
    font-size:150%;
    border-radius: 10px;
    color:#1C8527;
     outline:0;
    font-family:"proxima nova soft";
    font-weight:bold;
    
}

.btn-head:hover,
.btn-head:focus,
{
    color: #ffffff;
    outline:0;
    background-color: #5fcf80;
}


.container{
	
	padding:0;
	width: 100%;
}

body{
	
	padding-left:50px;
	padding-right:50px;
  }



            .ui-widget-header,.ui-state-default, ui-button{
            background:#012d4d;
            border: 1px solid white;
            text-align:center;
            color: white  ;
            font-size:150%;
            }
            #contactus,#signin{
              background: white;
              text-align: center;
            }
            
            #slamhead{
              padding:0;
              outline:0;
              border:none;
             
              background-color:white; 
              font-size: 50px;
              padding-left:70px;
              
              color: #2C6F8C;
              font-weight:bold;
            
              text-decoration: underline;
            }
             #slamhead:hover{
 border:none;
 outline:none;
 color: #012d4d;
 }

 #toprow {
margin-top:120px;
margin:0;
 }

            #slamsubhead{
              font-size: 30px;
              text-align: center;
              font-family: "varela round";
              padding-left: 0px;
              padding-bottom: 65px;
              padding-top: 75px;
              margin-top: 450px;
              
              font-weight: bold;
              color:#2C6F8C;
              
              

              
            }
            #rightnav{
            text-align:center;
            padding-left: 50px;
            
            }

            .signupmodal{
             width:80%;
             height:80%;
             padding-top:0;
            }
            .contactmodal,.signinmodal,.aboutusmodel{
             width:400px;
             padding-top:0;
            }

            

            .form-text,label{
              color:#012d4d;
              margin:10px;
              font-size: 15px;

            }
            .field{
              margin:10px;
            }

            .modalheading{
              font-weight: bold;
              color:#1FBE2B;
              height:50px;
              padding-top: 10px;
              font-size: 35px;
            }

            
            input[type=text],textarea,input[type=password]{
    border:1px solid #939794; 
    border-radius: 5px;
    color:#434644;
    outline:0;

     padding: 1em;
     border-radius:8px;
     display: block;
     width: 100%;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
     box-shadow : 0 1px 1px rgba(black, 0.1);
     resize: none;
    
}


.btn-submit{
              background-color: #4FC5D1;
              border-radius: 6px; 
              color:white;
              margin-top: 10px;
              margin-bottom: 10px;
              width:auto;
              font-size:150%;
            }
            .btn-submit:hover,
.btn-submit:focus,
.btn-submit:active {
    color: #fff;
    background-color: #012d4d;
}


.modal-content{
  padding:15px;
  padding-top:0;
} 

.modalsubheading{
    font-weight: bold;
              color:#D14F61;
              height:50px;
              padding-top: 10px;
              font-size: 22px;
              margin:0;
              margin-bottom: 10px
  }

  .signupmodalheading{
    margin:0;
    font-weight: bold;
              color:#1FBE2B;
              height:50px;
              padding-top: 10px;
              font-size: 35px;
              
  }

  #signupsubmit{
  padding-top:0;
 
  }


  .error{
  color:red;
  }

  #error_explanation > ul{
   list-style-type:none;
   color : red;
  }

  #asterik {
  color:red;
  }
