<!DOCTYPE html>
<html>
  <head>
    <title>SlamBook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src="http://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.js"></script>

  </head>
  

  <body>
  	

  	<div class= "container">

      
    	<%= yield %>
    </div>
  </body>
</html>	

